.scrollbar-hide {
  @apply bg-almost-black overflow-x-hidden overflow-y-scroll bg-opacity-0 transition-colors;

  scrollbar-width: 5; /* Firefox */
  background-clip: text; /* for bg transition */

  &:hover {
    @apply bg-opacity-33;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track-piece:start,
  &::-webkit-scrollbar-track-piece:end {
    @apply bg-transparent;
  }

  &::-webkit-scrollbar-thumb {
    @apply rounded-lg;

    background-color: inherit;
  }
}

.tippy-box[data-theme~='none'],
.tippy-none .tippy-box {
  @apply bg-transparent;
  @apply text-black;
  @apply rounded-none;
  @apply text-base;

  .tippy-content {
    @apply p-0;
  }
}
